#page {
    padding: 10px 5%;
}

#page .header {
    color: #5A5A5A;
    border-bottom: 1px groove #000000;
    margin-bottom: 20px;
    min-height: 48px;
}

#page .bazi {
    font-size: 1.3em;
    color: #000000;
}

#page .bazi .yuan {
    color: #FF0000;
}

#page .form-horizontal .control-label {
    width: 80px;
}

#page .form-horizontal .controls {
    margin-left: 100px;
}

#page .name {
    float: left;
    padding: 20px;
}

#page .name .hz {
    font-size: 2em;
}

#page .name .firstName,
#page .name .lastName {
    float: left;
    width: 100px;
}

#page .name .xywx {
    position: relative;
    top: 20px;
    left: -50px;
}

#page .btn[btn-radio]{
    padding: 4px 8px;
}