<div class="container-fluid">
    <form name="nameForm" class="form-horizontal">
        <div class="header row-fluid">
            <div class="pull-right">
                <button type="button" class="btn btn-primary"
                        ng-disabled="nameForm.$invalid || !name.chars[0].nywx || !(name.danming || name.chars[1].nywx)
                            || (name.xywx && !(name.chars[0].xyyy && name.chars[0].xywx && (name.danming || (name.chars[1].xyyy && name.chars[1].xywx))))"
                        ng-click="qiming()">起名
                </button>
            </div>
            <div class="input-prepend input-append span4">
                <span class="add-on">生辰</span>
                <input type="text" class="input-medium" ng-model="birthday" autofocus placeholder="格式：197001011232">
                <button type="button" class="btn" ng-click="calculate()">推算</button>
            </div>
            <div class="span3 bazi">
                <div class="span3" ng-repeat="item in bazi">
                    <div class="{{$index==2 && 'yuan'}}">{{item[0]}}</div>
                    <div>{{item[1]}}</div>
                </div>
            </div>
            <div class="span4 bazi">
                <div class="span2" ng-repeat="item in lishu">
                    <div ng-repeat="i in item"><span class="muted">{{i[0]}}</span><sub>{{i[1]}}</sub></div>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="control-group span2">
                <label class="control-label">姓氏</label>

                <div class="controls">
                    <input type="text" class="input-mini" ng-model="name.xingshi" required>
                </div>
            </div>
            <div class="span1" align="center">
                <div class="btn-group">
                    <button type="button" class="btn" ng-model="name.danming" btn-radio="true">单名</button>
                    <button type="button" class="btn" ng-model="name.danming" btn-radio="false">双名</button>
                </div>
            </div>
            <div class="control-group span5">
                <label class="control-label">避讳</label>

                <div class="controls">
                    <input type="text" class="input-xlarge" ng-model="name.bihui">
                </div>
            </div>
            <div class="control-group span4">
                <label class="control-label">庇护</label>

                <div class="controls">
                    <input type="text" ng-model="name.bihu">
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="control-group span3">
                <label class="control-label">纳音</label>

                <div class="controls">
                    <div>
                        <div class="btn-group">
                            <button type="button" class="btn"
                                    ng-model="name.chars[0].nywx" btn-radio="'金'">金
                            </button>
                            <button type="button" class="btn"
                                    ng-model="name.chars[0].nywx" btn-radio="'木'">木
                            </button>
                            <button type="button" class="btn"
                                    ng-model="name.chars[0].nywx" btn-radio="'水'">水
                            </button>
                            <button type="button" class="btn"
                                    ng-model="name.chars[0].nywx" btn-radio="'火'">火
                            </button>
                            <button type="button" class="btn"
                                    ng-model="name.chars[0].nywx" btn-radio="'土'">土
                            </button>
                        </div>
                    </div>
                    <div ui-if="!name.danming">
                        <div class="btn-group">
                            <button type="button" class="btn"
                                    ng-model="name.chars[1].nywx" btn-radio="'金'">金
                            </button>
                            <button type="button" class="btn"
                                    ng-model="name.chars[1].nywx" btn-radio="'木'">木
                            </button>
                            <button type="button" class="btn"
                                    ng-model="name.chars[1].nywx" btn-radio="'水'">水
                            </button>
                            <button type="button" class="btn"
                                    ng-model="name.chars[1].nywx" btn-radio="'火'">火
                            </button>
                            <button type="button" class="btn"
                                    ng-model="name.chars[1].nywx" btn-radio="'土'">土
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="control-group span5">
                <label class="control-label">形意
                    <div><input type="checkbox" ng-model="name.xywx"></div>
                </label>

                <div class="controls">
                    <div>
                        <div class="btn-group span3">
                            <button type="button" class="btn"
                                    ng-model="name.chars[0].xyyy" ng-disabled="!name.xywx" btn-radio="6">阴
                            </button>
                            <button type="button" class="btn"
                                    ng-model="name.chars[0].xyyy" ng-disabled="!name.xywx" btn-radio="9">阳
                            </button>
                        </div>
                        <div class="btn-group span9">
                            <button type="button" class="btn"
                                    ng-model="name.chars[0].xywx" ng-disabled="!name.xywx" btn-radio="'金'">金
                            </button>
                            <button type="button" class="btn"
                                    ng-model="name.chars[0].xywx" ng-disabled="!name.xywx" btn-radio="'木'">木
                            </button>
                            <button type="button" class="btn"
                                    ng-model="name.chars[0].xywx" ng-disabled="!name.xywx" btn-radio="'水'">水
                            </button>
                            <button type="button" class="btn"
                                    ng-model="name.chars[0].xywx" ng-disabled="!name.xywx" btn-radio="'火'">火
                            </button>
                            <button type="button" class="btn"
                                    ng-model="name.chars[0].xywx" ng-disabled="!name.xywx" btn-radio="'土'">土
                            </button>
                        </div>
                    </div>
                    <div ui-if="!name.danming">
                        <div class="btn-group span3">
                            <button type="button" class="btn"
                                    ng-model="name.chars[1].xyyy" ng-disabled="!name.xywx" btn-radio="6">阴
                            </button>
                            <button type="button" class="btn"
                                    ng-model="name.chars[1].xyyy" ng-disabled="!name.xywx" btn-radio="9">阳
                            </button>
                        </div>
                        <div class="btn-group span9">
                            <button type="button" class="btn"
                                    ng-model="name.chars[1].xywx" ng-disabled="!name.xywx" btn-radio="'金'">金
                            </button>
                            <button type="button" class="btn"
                                    ng-model="name.chars[1].xywx" ng-disabled="!name.xywx" btn-radio="'木'">木
                            </button>
                            <button type="button" class="btn"
                                    ng-model="name.chars[1].xywx" ng-disabled="!name.xywx" btn-radio="'水'">水
                            </button>
                            <button type="button" class="btn"
                                    ng-model="name.chars[1].xywx" ng-disabled="!name.xywx" btn-radio="'火'">火
                            </button>
                            <button type="button" class="btn"
                                    ng-model="name.chars[1].xywx" ng-disabled="!name.xywx" btn-radio="'土'">土
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="control-group span4">
                <label class="control-label">优化选型</label>

                <div class="controls">
                    <label class="checkbox" ui-if="name.danming">
                        <input type="checkbox" ng-model="name.rd">对人地合格进行限制
                    </label>
                    <label class="checkbox" ui-if="!name.danming">
                        <input type="checkbox" ng-model="name.tr">对天人合格进行限制
                    </label>
                    <label class="checkbox" ui-if="!name.danming">
                        <input type="checkbox" ng-model="name.td">对天地合格进行限制
                    </label>
                </div>
            </div>
        </div>
    </form>
    <div class="row-fluid">
        <div class="name" ng-repeat="firstName in names.firstNames">
            <div class="lastName" ng-repeat="character in names.lastName">
                <span class="bhs muted">{{character.bhs}}</span>
                <span class="hz">{{character.hz}}</span>
                <span class="nywx muted">{{character.nywx}}</span>
                <span class="xywx muted">{{character.xywx}}</span>
            </div>

            <div class="firstName" ng-repeat="name in firstName" ng-init="character = names.characters[name]">
                <span class="bhs muted">{{character.bhs}}</span>
                <span class="hz">{{character.hz}}</span>
                <span class="nywx muted">{{character.nywx}}</span>
                <span class="xywx muted">{{character.xywx}}</span>
            </div>
        </div>
    </div>
</div>
