<div class="container-fluid">
    <div class="header row-fluid">
        <div class="input-prepend input-append span4">
            <span class="add-on">生辰</span>
            <input type="text" class="input-medium" ng-model="birthday" autofocus placeholder="格式：197001011232">
            <button type="button" class="btn btn-primary" ng-click="calculate()">推算</button>
        </div>
        <div class="offset1 span3 bazi">
            <div class="span2" ng-repeat="item in bazi">
                <div>{{item[0]}}</div>
                <div>{{item[1]}}</div>
            </div>
        </div>
        <div class="span4">

        </div>
    </div>
</div>
